body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main {
    
    width: 500px;
    height: 500px;



}

h1 {
    text-align: center;
    color: #f3d22e;
    font-size: 3em;


}

#h2a {
    color: #490206;
    width: 700px;
    height: 50px;

}
#hr01 {
    width: 550px;
    height: 1px;
    background-color: #96a027;
}

#article01 {
    background-color: rgba(240, 248, 255, 0.676);
    font-family: "Alkatra", system-ui;
    font-size: 20px;
    width: 680px;
    height: 280px;
    padding: 25px;
    background-image: url(/pages/My\ Design/index/assets/images/laptop.gif), url(/pages/My\ Design/index/assets/images/Smiley01.gif), url(/pages/My\ Design/index/assets/images/articlebg001.png);
    background-position: 244px bottom, 600px bottom, right bottom;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 80px, 130px, auto;




}

#h2a1 {
    color: #490206;
    width: 500px;

}


#quote01 {
    font-size: x-large;
    font-family: "Patrick Hand", cursive;
    margin-top: 5px;
    margin-left: 120px;
    padding: 5px;
    width: 600px;
    height: 80px;
    text-align: center;
    border-radius: 5px;


}

#indexlist01 {
    color: #490206;
    width: 500px;


}

#indexlist01 a {
    text-decoration: none;
    color: #490206;

}

#logo01 {
    padding-left: 700px;
}

#logo01 img {
    height: 200px;
    width: 200px;

}