body {
    background-color: white;
    background-image: url(https://www.sapienz.xyz/video/flowers.gif);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container {
    border: 10px solid beige;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 750px;
    background-color: beige;
}




main {

    width: 500px;
    height: 500px;


}

h1 {
    text-align: center;
    color: #f3942e;
    font-size: 3em;
    width: 550px;
    border-radius: 50px;
    padding-left: 60px;

}

#h2a {
    color: #490206;
    width: 700px;
    height: 50px;

}

#hr01 {
    width: 550px;
    height: 1px;
 
}

#article01 {
    background-color: rgba(240, 248, 255, 0.676);
    font-family: "Alkatra", system-ui;
    font-size: 20px;
    width: 680px;
    height: 280px;
    padding: 25px;
    border-radius: 35px;
    background-image: url(https://i.ibb.co/fth9FLG/laptop.gif), url(https://i.ibb.co/ZR9HKJw/Smiley01.gif), url(https://i.makeagif.com/media/9-20-2016/BC519d.gif);
    background-position: 244px bottom, 600px bottom, right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 80px, 130px, 750px;

}

#h2a1 {
    color: #490206;
    width: 500px;

}


#quote01 {
    font-size: x-large;
    font-family: "Patrick Hand", cursive;
    margin-top: 5px;
    margin-left: 120px;
    padding: 5px;
    width: 600px;
    height: 80px;
    text-align: center;
    border-radius: 5px;


}

#indexlist01 {
    color: #490206;
    background-image: url(https://i.ibb.co/J71SfZR/Smiley01.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: top right;
    background-position-y: 62px;
    width: 500px;
    height: 130px;
    padding-bottom: 60px;



}

#indexlist01 a {
    text-decoration: none;
    color: #490206;

}

#logo01 {
    padding-left: 400px;
}

#logo01 img {
    height: 200px;
    width: 200px;

}

#tree01 img {
    height: 100px;
    width: 100px;
}

#tree02 img {

    height: 100px;
    width: 100px;
}

#tree03 img {

    height: 100px;
    width: 100px;
}
#end {
    display: flex;
     justify-content: space-between;
}