body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    background-color: beige;
    width: 500px;
    
}
h1 {
    text-align: center;
    color: #ea4e1e;
}



#article01 {
    background-color: rgba(240, 248, 255, 0.676);
    font-family: "Alkatra", system-ui;
    font-size: 20px;
    width: 680px;
    height: 250px;
    padding: 25px;
    background-image: url(/pages/My\ Design/index/assets/images/articlebg001.png);

    
}
#h2a1 {
    color: #490206;
     width: 500px;

}


#quote01 {
    font-size: x-large;
    font-family: "Patrick Hand", cursive;
    margin-top: 5px;
    margin-left: 120px;
    padding: 5px;
    width: 600px;
    height: 80px;
    text-align: center;
    border-radius: 5px;

}

#indexlist01 {
    color: #490206;
     width: 500px;
}
